
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #373778, #5c5cc5);
}

li {
    all: unset
}

.nav-bar li {
    display: flex;
    flex-direction: row;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(223, 219, 219);
}